// Mixins

// Utilities
// ------------------------------

// @mixin axs-hide
//
// Hides elements that are created to help the visually impaired.

@mixin axs-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Typography
// ------------------------------

// @mixin type-heading-base
//
// Outputs base heading styles.

@mixin type-heading-base {
  color: $color-grey-dark;
  font-family: $type-font-family-display;
  font-weight: 700;
}

// Layout
// ------------------------------

// @mixin with-layouts
//
// Includes styles which inherit both the medium and large layouts, for both medium and large breakpoints.
// Extremely useful for specifying "adaptive" layout styles.
// eg: @include with-layouts {
//   @include container
// }
//
// @link http://susydocs.oddbird.net/en/latest/toolkit/#breakpoint

@mixin layout-with-layouts {
  @content;
  @include susy-breakpoint($breakpoint-medium, $susy-medium) { @content; }
  @include susy-breakpoint($breakpoint-large, $susy-large) { @content; }
}

// Buttons
// ------------------------------

// @mixin button
//
// Outputs button base styles.
//
// $base - The base size to calculate em units from.
// $margin - Include margins?
// $padding-horizontal - Include horizontal padding?

@mixin button(
  $base: $base-font-size,
  $margin: true,
  $padding-horizontal: true
){
  position: relative;
  display: inline-block;
  padding-top: em($base-vertical-margin * .75, $base);
  padding-bottom: em($base-vertical-margin * .75, $base);
  font-family: $type-font-family-body;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  @include border-radius(4px);
  @include transition(300ms background);
  @if $margin {
    margin: 0 0 em($base-vertical-margin, $base);
  }
  @if $padding-horizontal {
    padding-left: em(40px, $base);
    padding-right: em(40px, $base);
  }

  p & {
    margin-bottom: 0;
  }
}

// @mixin button-primary
//
// Outputs button base styles.
//
// $base - The base size to calculate em units from.
// $margin - Include margins?
// $padding-horizontal - Include horizontal padding?

@mixin button-primary(
  $base: $base-font-size,
  $margin: true,
  $padding-horizontal: true
){
  @include button(
    $base: 12px,
    $margin: $margin,
    $padding-horizontal: $padding-horizontal
  );
  color: white;
  font-size: em(12px, $base);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $color-brand-primary;

  &:hover,
  &:focus {
    color: shade(white, .8);
    background: $color-grey-dark;
  }
}

// @mixin button-block
//
// Creates a full width button

@mixin button-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}